<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
   <filter-name>CORS</filter-name>
   <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
   <init-param>
      <param-name>cors.allowGenericHttpRequests</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>cors.allowOrigin</param-name>
      <param-value>https://lahacks-ui.appspot.com</param-value>
   </init-param>
   <init-param>
      <param-name>cors.allowSubdomains</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, HEAD, POST, PUT, DELETE, OPTIONS</param-value>
   </init-param>
   <init-param>
      <param-name>cors.supportedHeaders</param-name>     <param-value>origin, authorization, x-file-size, x-file-name, content-type, accept, x-file-type</param-value>
   </init-param>
   <init-param>
      <param-name>cors.supportsCredentials</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>cors.maxAge</param-name>
      <param-value>3600</param-value>
   </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>myapp.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>myapp.RegisterMeter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/api/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateWater</servlet-name>
        <servlet-class>myapp.UpdateWaterInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateWater</servlet-name>
        <url-pattern>/api/updatewater</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getWater</servlet-name>
        <servlet-class>myapp.GetMeterData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getWater</servlet-name>
        <url-pattern>/api/fetchwater</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
